.main {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.poster {
  width: 100%;
}

.body {
  max-width: 1200px;
  width: 100%;
}
