* {
  box-sizing: border-box;
}

.productsContainer {
  /* max-width: 1300px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.productsCard {
  position: relative;
  max-width: 24%;
  max-height: 314px;
  border-radius: 20px;
  border: 1px solid #b6b6b6;
  padding: 20px;
}

.productsImg {
  width: 100%;
  height: 60%;
  object-fit: scale-down;
}

.shopIcon {
  position: absolute;
  float: right;
  bottom: 18px;
  right: 31px;
}

.saleTag {
  position: absolute;
  top: 22px;
  left: 0;
  width: 145px;
  height: 40px;
  background-color: #a7f65c;
  color: #003585;
  font-weight: 600;
  font-size: 18px;
  border-radius: 0 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salePrice {
  color: #003585;
  position: relative;
}

.origPrice {
  color: grey;
  text-decoration: line-through;
  position: absolute;
  right: 35%;
}
