.categories {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.categories ul {
  display: flex;
  list-style: none;
  gap: 13px;
}

.categories ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #003585;
  border-radius: 20px;
  width: 139px;
  height: 45px;
}
