.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 370px);
}

.loginForm {
  border: 2px solid #d9d9d9;
  border-radius: 10px;
}

.loginForm form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.loginForm form input {
  width: 420px;
  height: 48px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}

.loginForm form button {
  width: 420px;
  height: 48px;
  border-radius: 5px;
  background-color: #003585;
  color: #fff;
}

.registerBtn {
  border: 1px solid #a7f65c;
  background-color: #fff;
  color: #003585;
}
